.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100% ; 
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman', serif; 
    color:aliceblue;
}